@model IEnumerable<Watch2Chill.Models.Videos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elenco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NTemporadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                <a  asp-action="Details" asp-route-id="@item.IdVideo">

                    <img src="~/Imagens/Videos/@Html.DisplayFor(modelItem => item.Foto)"
                         width="50"
                         alt="Fotografia do video @Html.DisplayFor(modelItem => item.IdVideo)"
                         title="@Html.DisplayFor(modelItem => item.IdVideo)" />
                </a>

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elenco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idioma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Realizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTemporadas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVideo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVideo">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVideo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
