@model Watch2Chill.Models.Temporadas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Temporadas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTemps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTemps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumEps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVideosFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVideosFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSerie">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
