@model IEnumerable<Watch2Chill.Models.Temporadas>
@* Esta view esta a processar uma lista de temporadas que lhe foi enviada pelo controller*@

@{
    ViewData["Title"] = "Lista de Temporadas";
}

<h1>Lista de Temporadas dos Videos</h1>

<p>
    <a asp-action="Create">Adicionar nova Temporada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumTemps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumEps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVideosFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* invoca o valor existente no modelo com o conteudo deste atributo*@
                @Html.DisplayFor(modelItem => item.NumTemps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumEps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @*porque???????????????????????????????????????????????????????????????????????????????????????????????????????*@
                @*@Html.DisplayFor(modelItem => item.Id.Nome)*@
                @Html.DisplayFor(modelItem => item.IdVideosFK)
            </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdSerie">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdSerie">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdSerie">Eliminar</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
